<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>忍瓦版</title>
  </head>
  <body>
    <header>
      <h1>忍者好きの忍者好きのための瓦版</h1>
    </header>

    <div class="contents">
      <div class="cont-area-warap">
        <div class="cont-area-nwes-warap">
          <a href="nwes-cont">
            <p class="img">
            </p>
            <div class="info">
              <p class="title">
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>